<h1 mat-dialog-tittle>Profile</h1>
<div mat-dialog-content style="width: 500px; height:auto">


    <!-- <label>ID:{{data.id}}</label><br> -->
    <label> NAME:{{data.details.NAME}}</label><br>
    <label>EMAIL:{{data.details.EMAIL}}</label><br>
    <label> DOB:{{data.details["DOB:"]}}</label><br>
    <br>
    <label>SKILLS:<ul>
            <li *ngFor="let d of data.details.SKILLS">{{d}}</li>
        </ul></label><br>
    <br>
    <label>EDUCATION:<ul>
            <li *ngFor="let d of data.details.EDUCATION">{{d}}</li>
        </ul></label><br>
    <label>MOBILE:{{data.details.MOBILE}}</label><br>
<label>:EDUCATIONDETAILS:
  <ul>
    <li>
      {{edu}}
    </li>
  </ul></label>

</div>
<div mat-dialog-action [align]="'center'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>
