<mat-toolbar >
  <span>
    <img src="../../assets/google.png" style="width: 50px; border-radius: 50px;">
    <img src="../../assets/Lin.png" style="width: 30px;">
  </span>
  <h1 style="margin-left: 20px">Googlin</h1>
  <input type="search" id="form1" class="form-control" placeholder="Search here"  style="margin-left: 15px;" />
  <button class="btn btn-primary" style="color: white;margin-left: 10px;" >search</button>
  <!-- <span style="margin-left: 15px;">{{myDate | date:'yyyy-MM-dd'}}</span> -->
  <mat-icon style="cursor: pointer;margin-left: 20px;">dashboard</mat-icon>
  <span style="cursor: pointer;" routerLink="/dashboard">Dashboard</span>
  <mat-icon style=" cursor: pointer;margin-left: 20px;">logout</mat-icon>
  <span style="cursor: pointer;" (click)="logout()">LogOut</span>

</mat-toolbar>








