<p>alldetails works!</p>
<app-filter
        [list]="filterList" 
        (onFilterChange)="filterChange($event)" class="app.btn">
     </app-filter>
   

<!-- //login pages -->
     






      <!-- <div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <img src="../../assets/loginimg.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 ">
            <h3 class="login-text mb-3">Login</h3>
            <form class="mt-4" #formdata="ngForm" (submit)="login(formdata)" invalidate>
                <label for="">Email</label><br>
                <input type="email" [(ngModel)]="form.email" />
                <br>
                <label for="">Password</label><br>
                <input type="password" [(ngModel)]="form.password" />
                <br><br>
                <div>
                    <button type="button" class="btn btn-class" (click)="login(form)">Login</button>
                    
                </div>
                <h6 class="text-primary">Forgot Password?</h6>
            </form>
        </div>
    </div>
</div> -->


<!-- /* body{
        font-family: 'Poppins', sans-serif;
        
    }
    .img-fluid{
        padding: 30px 30px;
    }
    .row{
        margin: 80px;
        background-color: #fff;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
        
    }
    .login-text{
        margin-top: 30px;
        font-style: normal;
        font-weight: bold;
    }
    .form-control{
        border-color: #00ac96;
        width: 50%;
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0px;
        box-shadow: none;
        
    }
    
    .btn-class{
        border-color: #93d0c8;
        color: black; 
        background-color: #00ac96;
        width: 50%;
        height: 35px;
        margin-top: 20px;
    
    }
    .btn-class:hover{
       background-color: #00ac96; 
    }
    .text-primary{
        margin-top: 20px;
        margin-left: 60px;
    } */
     -->
    