.active {
  color: rgb(6, 29, 234);
  list-style-type: lower-alpha;
  /* background-color: rgb(11, 11, 11); */
}
.navbar {
/* text:'hello'; */
  /* height: 50px; */
  width: 100%;
  height: 100%;
  /* background-color: rgb(168, 174, 215); */
  /* background-color: rgb(128, 182, 229); */
  /* background-color: rgb(77, 71, 71); */
  --bs-navbar-padding-x: 0;
  /* padding-right: calc(var(--bs-gutter-x) * 0); */
  justify-content: baseline;
  --bs-gutter-x: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 4px 0px rgb(110, 106, 106);
  font-size: 13px;
  border-radius: 2px;
  /* text-overflow:ellipsis; */
  margin: 0px;
  /* position: sticky; */
  top: 0;
  /* z-index: 50; */
  /* overflow-block: hidden; */
  /* overflow: hidden; */
}

.d-flex {
  /* flex-grow: var(--bs-navbar-padding-x); */
  /* justify-content: center; */
  /* justify-items: baseline; */
  height: 100%;
}
.container-fluid {
  /* height: auto; */
  width: inherit;
  --bs-gutter-x: 2rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.navbar-brand {
  /* color: white; */
  /* font-weight: 500; */
  width: auto;
  cursor: pointer;
  height: 100%;
}
#googlinImg {
  width: 38px;
  margin-bottom: 3px;
  border-radius: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  /* width: inherit;
  height: inherit; */
  margin-right: 30px;
}
#googlinText {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(39, 21, 74);
}
#googlinText:hover{
  color: rgb(10, 56, 243);
}
#bg-image {
  height: 30%;
  width: 50%;
  margin-top: 10px;
  background: transparent;
  /* border: solid  1px black; */
  /* vertical-align: middle  ; */
  /* margin-bottom: 4px; */
  /* margin: 5px; */
  /* border: solid red 2px; */
  /* box-shadow: 1px 1px 5px 1px gray; */
}
#bg-image:hover {
  transform: scaleX(-1);

  /* text-overflow: clip; */
  /* transform: scaleY(-1); */
}
.nav-span {
  font-size: 13px;
  color: white;
  margin-right: 0px;
}
/* button { */
/* text-align: center; */
/* padding-bottom: 5px; */
/* } */
.mat-raised-button {
  line-height: 25px;
  font-size: 13px;
  color: white;
  margin-right: 2 0px;
}
header.menu {
  width: inherit;
  height: 80%;
  display: flex;
  overflow: hidden;
  position: absolute;
}
.imageDiv {
  position: relative;
  max-width: 800px;
  /* margin: 0 auto; */
  background: transparent;
}
.imageText {
  position: absolute;
  bottom: 0;

  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

button span:hover {
  /* box-shadow: 0px 0px 2px 0px rgb(5, 5, 5); */
}

.flex-button {
  border: none;
  background: none;
  background-color: transparent;
  margin-right: 38px;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.flex-button:hover {
  color: rgb(142, 116, 227);
}
.flex-span {
  font-size: 13px;
  font-weight: 600;
  color: rgb(39, 29, 74);
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
i{
  color: white;
}
section{
  background-color: black;
}
/* footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:50px;
  background-color: rgb(129, 182, 229);
  color: white;
  text-align: center;
} */
mat-icon {
  color: rgb(39, 29, 74);
  margin-top: 5px;
}
mat-icon:hover {
  color: rgb(35, 11, 249);
}
#profileid{
  color: rgb(39, 29, 74);
  /* width: 10px;
  height: 20px; */
  font-size: 20px;
  margin-top: 1px;
  /* background-color: rgb(49, 160, 211); */
  border-radius: 10px;
}
#profileid:hover{
  color: rgb(57, 5, 245);
}
@media only screen and (max-width: 500px) {
  .d-flex {
    flex-wrap: wrap;
    height: inherit;
  }
  .navbar {
    width: 100%;
    height: max-content;
  }
}
@media only screen and (min-width: 500px) {
  .d-flex {
    flex-wrap: wrap;
    height: inherit;
  }
  .navbar {
    width: 100%;
    height: max-content;
  }
}
@media only screen and (max-width: 500px) {
  #bg-image {
    width: 100%;
  }
  .navbar {
    width: 100%;
    height: max-content;
  }
}
@media only screen and (min-width: 500px) {
  .navbar {
    width: 100%;
    height: inherit;
  }
  .navbar-brand {
    width: auto;
  }
}
@media only screen and (max-width: 300px) {
  .navbar {
    width: 100%;
    height: max-content;
  }
  .navbar-brand {
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  /* #bg-image {
    width: 100%;
  } */
  .navbar {
    width: 100%;
    height: max-content;
  }
}
@media only screen and (max-width: 700px) {
  /* #bg-image {
    width: 100%;
  } */
  .navbar {
    width: 100%;
    height: 150px;
  }
}
@media only screen and (max-width: 820px) {
  /* #bg-image {
    width: 100%;
  } */
  .navbar {
    width: 100%;
    height: 150px;
  }
}
@media only screen and (max-width: 382px) {
  .navbar {
    height: 160px;
  }
  /* .container-fluid {
    height: 140px;
  } */
}
@media only screen and (max-width: 230px) {
  .navbar {
    width: auto;
    height: 160px;
  }
  .container-fluid {
    width: 230px;
  }
  .navbar {
    width: 100%;
    height: max-content;
  }
}
@media only screen and (max-width: 242px) {
  .navbar {
    width: auto;
    height: 160px;
  }
  .container-fluid {
    width: 230px;
  }
  .btn {
    margin-top: 5px;
  }
  .navbar {
    width: 100%;
    height: max-content;
  }
}
