mat-toolbar {
    background: #004a9f;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    margin: 16px;
    width: 230px;
    border-right: none;
    background: #004a9f;
    border-radius: 10px;
    color: white;
    padding: 16px;
    text-align: center;
}

.content {
    margin: 16px;
    margin-left: 32px;
}

.menu-button {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

mat-divider {
    margin-top: 30px;
    margin-bottom: 16px;
    background-color: whitesmoke;
}

button {
    border: none;
}

img {
    border-radius: 10px;
}