

    <img class="avatar mat-elevation-24" src="../../assets/avatar.jpg"
        style="width: 90px; height: 90px; border-radius:150px;">
    <h4 class="name">Name</h4>
    <p class="designation">Software Engineer</p>
    <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span routerLink="/applicant">Applicants</span>
    </button><br>
    <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </button><br>
    <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>
    <mat-divider></mat-divider>
