
input[type="file"] {
  /* border: solid 7px black; */
  /* border-radius: 10px; */
  /* font-size: 10px; */
  border: 2px solid #6c5ce7;
  /* border: none; */
  /* display: none; */
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #cecdd8;
  transition: 1s;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 8;
  outline: none;
  /* background: white; */
  cursor: inherit;
  /* display: block; */
}
