<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
        min-vh-100">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h1>Enter your registered email ID to Reset the password</h1>
            <p class="mb-2">
            </p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email" autocomplete="true">
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">New Password</label>
              <input type="password" class="form-control" formControlName="newpassword" autocomplete="true">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Confirm Password</label>
              <input class="form-control" formControlName="confirmpassword" autocomplete="true"
                [ngStyle]="{'border': (loginForm.controls['newpassword'].value!==loginForm.controls['confirmpassword'].value) ? 'red solid 2px' : 'green solid 2px' }">

            </div>

            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>