.login-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  /* background-color: linen; */
  /* background-image:url("src/assets/background-dp.jpg"); */
}

.login-content {
  display: block;
  margin: 0 auto;

}

.login-toolbar {
  justify-content: center;
  z-index: 1;
  background-color:transparent;
}

.mat-form-field {
  width: 100%;
  /* display: block; */
}

.mat-raised-button {
  width: 100%;
  /* margin-top: 15px; */
}
a {
  color: rgb(57, 57, 230);
  text-decoration: none;
}
mat-card {
  font-size: medium;
  width: 70;
  border-radius: 20px;
  background-color:rgb(251, 255, 255);

}
