<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="http://cdn.webix.com/edge/webix.css"
      type="text/css"
      charset="utf-8"
    />
    <script
      href="http://cdn.webix.com/edge/webix.js"
      charset="utf-8"
      type="text/javascript"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <script charset="utf-8" type="text/javascript">
      webix.ui({
        view:"calendar"
      })
    </script>
    hello
  </body>
</html>

<webix-ui #ui [config]="myConfig"></webix-ui>
<webix-ui #ui [config]="myConfig"></webix-ui>
myConfig = {
  view: "datatable",
  columns: [
    { id: "id", header: "#", width: 50 },
    { id: "title", header: "Title", fillspace: true },
    { id: "year", header: "Year", width: 80 }
  ],
  data: [
    { id: 1, title: "The Shawshank Redemption", year: 1994 },
    { id: 2, title: "The Godfather", year: 1972 },
    { id: 3, title: "The Godfather: Part II", year: 1974 },
    { id: 4, title: "The Dark Knight", year: 2008 }
  ]
};

-->
<!-- <datatable></datatable> -->
