<app-home></app-home>
<div class="container-fluid" style="height:100%;background-color:whitesmoke;">
  <div class="row" >
    <div class="col-md-3" >
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-9">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent2" style="margin-top: 20px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Education
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item">SSC</a></li>
                    <li><a class="dropdown-item">Inter</a></li>
                    <li><a class="dropdown-item">B.Tech</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Skills
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Java</a></li>
                    <li><a class="dropdown-item">Angular</a></li>
                    <li><a class="dropdown-item">SQL</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <div class="forms-group"
                  style="float:right; margin-top: 57px; font-family: Verdana, Geneva, Tahoma, sans-serif; ">


                </div>
              </li>
              <li class="nav-item"> <button class="btn btn-primary">search</button></li>
            </ul>
          </div>
        </div>
      </nav>
      <table class="table table-striped" style="margin-top:50px;">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data|filter: searchByKeyword">
            <td>{{d.name}}</td>
            <td>{{d.email}}</td>
            <td>{{d.mobile}}</td>

            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                View Details
              </button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> 
   -->
<!-- <p ngIf="customer == null">No Customer</p>  -->
<!-- <app-alldetails [customer]="customer"></app-alldetails>  -->





<!-- <button mat-raised-button (click)="openDialog()" style="margin-left:10px;">Profile</button> 


 <app-filter
 [list]="filterList" 
 (onFilterChange)="filterChange($event)" style="float: right;">
</app-filter>  -->