<app-header-nav page="applicant"></app-header-nav>
<div class="container-fluid" style="background-color: rgb(226, 230, 233)">
  <div class="row">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid" id="container-fluid1">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent2"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent2"
          style="margin-top: 10px"
        >
          <ul
            class="navbar-nav mb-lg-0"
            style="margin-left: 15px"
            style="width: 100%"
          >
            <form
              #form="ngForm"
              (ngSubmit)="search(form.value)"
              style="width: 100%"
            >
              <nav class="navbar" id="navbar1">
                <div class="row">
                  <div class="col">
                    <div class="form-outline">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        [(ngModel)]="formdata.EDUCATION"
                        name="education"
                        style="font-size: 12px; width: 100%"
                      >
                        <option selected value="">EDUCATION</option>
                        <option value="B.TECH">B.TECH</option>
                        <option value="M.TECH">M.TECH</option>
                        <option value="MCA">MCA</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        [(ngModel)]="formdata.SKILLS"
                        name="skills"
                        style="font-size: 12px; width: 100%"
                      >
                        <option selected value="">SKILLS</option>
                        <option value="JAVA">JAVA</option>
                        <option value="JAVASCRIPT">ANGULAR</option>
                        <option value="ORACLE">ORACLE</option>
                        <option value="SQL">SQL</option>
                        <option value="JAVA">AUTOMATION</option>
                        <option value="SQL">MANUAL TESTING</option>
                        <option value="ORACLE">SELENIUM</option>
                        <option value="JAVASCRIPT">QA</option>
                        <option value="JAVA">PYTHON</option>
                        <option value="SQL">WEB TECHNOLOGIES</option>
                        <option value="ORACLE">REACTJS</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        name="education"
                        style="font-size: 12px; width: 100%"
                      >
                        <option selected value="">EXPERIENCE</option>
                        <option value="B.TECH">1</option>
                        <option value="M.TECH">2</option>
                        <option value="MCA">3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>above</option>
                      </select>
                    </div>
                  </div>
                  <div class="col" id="sbtn">
                    <div>
                      <button class="btn btn" mat-raised-button type="submit">
                        <span>SEARCH</span>
                      </button>
                    </div>
                  </div>
                </div>
              </nav>
            </form>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div id="tableDiv" *ngIf="numberOfElements > 1">
  <table
    class="table table-hover table-borderless table-sm table-striped"
    style="padding: 0.1rem"
    id="table"
  >
    <thead class="table-light">
      <tr style="font-size: 12px">
        <th>#</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">SKILLS</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let d of exportdata
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: page,
                  totalItems: totalItems
                };let i =index
        "
      >
        <td >{{i+1}}</td>
        <td>{{ d.details.NAME }}</td>
        <td>{{ d.details.EMAIL }}</td>
        <td>{{ d.details.SKILLS }}</td>
        <!-- <td (click)="viewdetails(d)">details</td> -->
        <td>
          <i
            class="fa fa-user"
            aria-hidden="true"
            (click)="viewdetails(d)"
            style="color: rgb(89, 84, 167)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <span style="float: left;margin-right: 100px;">showing {{numberOfElements}} results in {{page}} page </span> -->
  <div class="d-flex justify-content-end">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="paginated((page = $event))"
    >
    </pagination-controls>
  </div>
</div>
