mat-toolbar{
    background-color: #eff1f3;
    color: white
}
.nav-item{
    margin-left: 10px;

}

.example-spacer {
    flex: 1 1 auto;
  }
  /* .afu-select-btn {background-color: whitesmoke;}
  .afu-select-btn {background-color: #7a8b9f;}
.afu-reset-btn {background-color: #7a8b9f;}
.afu-upload-btn {background-color: #7a8b9f;}
.afu-dragndrop-box {background-color: #7a8b9f;}
.afu-dragndrop-text {background-color: #7a8b9f;}
.afu-constraints-info {background-color: #7a8b9f;}
.afu-valid-file {background-color: #7a8b9f;}
.afu-invalid-file {background-color: #7a8b9f;}
.afu-progress-bar {background-color: #7a8b9f;}
.afu-upload-status {background-color: #7a8b9f;}
.afu-attach-pin {background-color: #7a8b9f;} */

/* .angular-file-uploader{
    background-color: #004a9f;
} */
