.navbar {
    background-color: rgb(200, 219, 237);
    /* display: flex; */
    /* background-image: linear-gradient(rgb(232, 229, 229)); */
    /* width: auto; */
    /* height: fit-content; */
    /* display: block; */
    /* margin: 0 auto; */
    /* color: white; */
    /* opacity: 0.6; */
    /* box-shadow: 0px 1px 5px 0px rgb(132, 130, 130); */
    /* justify-content: start; */
  }
  .d-flex {
    /* letter-spacing: normal; */
    /* column-gap: 10px; */
    width: auto;
    /* margin-top: 18px; */
     height: 100%;
  }
  .container-fluid {
    color: white;
    width: auto;
    max-height: 100%;
    width: 100%;
  }
  .navbar-brand {
    color: white;
    font-weight: 500;
    width: auto;
    cursor: pointer;
    /* /* heigh: 100%; */
  }
  #googlinImg {
    width: 40px;
    margin-bottom: 3px;
    margin: 0;
    border-radius: 50px;
max-height: 100%;
  }
  .btn {
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
  }
  #googlinText {
    margin-top: 10px;
    margin-left: 3px;
    color: rgb(26, 83, 147);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  #dashboardImage {
    /* max-width: fit-content; */
    /* max-height: 800px; */
    max-width: 100%;
    max-height: 100%;
    /* border: solid red 2px; */
    /* box-shadow: 1px 1px 5px 1px gray; */
  }
  #dashboardImage:hover {
    transform: scaleX(-1);
  }
  .content {
    /* margin: 2px; */
    /* margin-left: 32px; */
}

.menu-button {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

