
<!-- <app-side-nav></app-side-nav> -->













<!--
   <mat-card class="example-card" style="margin-left: 10px;">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!--
<div class="row" style="margin: 10px;">
  <div class="card" style="width: 18rem; margin-left:30px; margin-top: 20px;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Applicants</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-left:30px; margin-top: 20px;">

    <div class="card-body">
      <h3 class="card-title">Profile</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-left:30px; margin-top: 20px;">

    <div class="card-body">
      <h3 class="card-title">About</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>  -->

