
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="route.navigate([''])">
      <img src="../assets/android-chrome-512x512.png" id="googlinImg" />
      <span id="googlinText" > Googlin</span>
    </a>
    <div class="d-flex" role="search">
      <button
        mat-raised-button
        class="btn btn"
        (click)="LoginOut()"
        style="background-color:rgb(15, 54, 109);"
      >
        <span style="color: white;font-size: 14px;">LOGOUT</span>
      </button>
    </div>
  </div>
</nav>
<app-side-nav></app-side-nav>
<!-- <div style="display: flex">
  <div class="content">
    <div>
      <img src="/assets/hiring.webp" id="dashboardImage" height="450px" />
    </div>
  </div> -->
  <!-- <button mat-button class="menu-button">
    <mat-icon>person</mat-icon>

  </button> -->
  <!-- <span routerLink="/applicant" style="font-size: 20px; margin-left: 10px"
    >Applicants</span -->

  <!-- <div>
    <div style="background-color: rgba(229, 232, 232, 0); overflow: hidden">
      <h1
        style="
          font-family: monospace;
          font: caption;
          color: rgb(26, 26, 69);
          font-size: 20px;
          font-weight: 500;margin-top: 50px;
        "
      >
        Upload Document Here
      </h1>
      <div style="margin-top: 20px;">
        <input type="file" #file name="file" />
        <!-- <button mat-raised-button color="primary" style="margin-top: 0px;background-color: rgb(54, 89, 229);">
          Upload
        </button> -->
    <!--  </div>
    </div>
    <div>
      <h2
        style="
          color: rgb(64, 107, 99);

          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
          margin-top: 20px;
        "
      >
        Upload Candidate profiles
      </h2>
    </div>
    <div>
      <h2
        style="

          opacity: 0.7;
          border-radius: 2px;
          margin-left: 10px;

          color: rgb(18, 86, 146);
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        "
      >
        Search based on skills and experience
      </h2>
    </div>
    <div>
      <h2
        style="
          opacity: 0.7;

          border-radius: 2px;
          justify-content: center;
          margin-left: 10px;

          font-weight: bold;
          color: rgb(19, 19, 20);
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        Fetch full details of the Candidate
      </h2>
    </div>
  </div>
</div> -->

<!-- <div
  class="d-flex"
  *ngIf="page != 'register' && page != 'login' && page != 'applicant'"
>
  <div>
    <img
      src="/assets/images/searching_for_candidate_isometric_illustrating-06.jpg"
      id="bg-image"
    />
  </div> -->
<!-- <img src=" assets/2014-06-11-0e-Recruit.a9f4e.jpg" id="bg-image" /> -->
<!-- <div
    style="background-color: rgb(251, 252, 252); width: inherit; height: 100%"
  >
    <div>
      <h1
        style="
          color: rgb(64, 107, 99);
          font-size: 30px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
          margin-top: 10px;
        "
      >
        Upload Candidate profiles
      </h1>
    </div>
    <div>
      <h1
        style="
          font-size: 25px;
          opacity: 0.7;
          border-radius: 2px;
          margin-left: 100px;

          color: rgb(18, 86, 146);
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        "
      >
        Search based on skills and experience
      </h1>
    </div>
    <div>
      <h1
        style="
          opacity: 0.7;

          border-radius: 2px;
          justify-content: center;
          margin-left: 180px;
          font-size: 25px;
          font-weight: bold;
          color: rgb(19, 19, 20);
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        Fetch full details of the Candidate
      </h1>
    </div>
    <div>
      <h2>we helped recruters to ease the process</h2>
    </div>
    <h2>of selecting candidates within short period of time</h2>
    <div style="margin-top: 50px; font-weight: bold; color: rgb(71, 9, 133)">
      <h2>Googlin will do the selection</h2>
      <h2>for the perfect candidate by filtering the profiles</h2>
    </div>
  </div>
</div> -->

<!-- <div style="width: 100px;"><h1>hwllo</h1></div> -->
