<!-- <nav class="navbar navbar-expand-lg   "
  style="background: linear-gradient(135deg, rgb(116, 138, 222) 0%,#668de0 );">
  <div class="container-fluid">
    <a class="navbar-brand">
      <span>
        <img src="../../assets/android-chrome-512x512.png" style="width: 40px; border-radius: 50px;">
      </span>GoogLin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
             <!-- <button class="btn btn-light" type="submit">Search</button> 
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard"><b style="font-size: 16px;">DashBoard</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <b style="font-size: 16px;">LogOut</b></a>
        </li>
      </ul>

    </div>
  </div>
</nav>  -->

<mat-toolbar>
  <span>
      <img src="../../assets/android-chrome-512x512.png" style="width: 40px; border-radius: 50px;">
      Googlin</span>
      <button mat-button>Applicants</button>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard" ><mat-icon>dashboard</mat-icon>Dashboard</button>
  <button mat-button (click)="logout()"><mat-icon>input</mat-icon>Logout</button>
</mat-toolbar>