

<nav class="navbar navbar-expand-lg" style="background-color: #a9a9ec;">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <span>
            <img src="../../assets/google.png" width="40px">
            <img src="../../assets/Lin.png" width="30px">
          </span>googlin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" >dashboard</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">
               logout</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  
 
