<app-main-header page="applicant-dashboard"></app-main-header>
<div id="div1" class="d-flex justify-content-center bg-light">
  <mat-card>
    <div *ngFor="let progressInfo of progressInfos" id="d">
      <span>{{ progressInfo.fileName }}</span>
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
          attr.aria-valuenow="{{ progressInfo.value }}" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{ width: progressInfo.value + '%' }">
          {{ progressInfo.value }}%
        </div>
      </div>
    </div>
    <form #file class="formDiv2">
      <div class="div3">
        <br />
        <h1 class="uploadFiles">Upload Files</h1>
        <div class="div4">
          <div class="div5">
            <div>
              <!--  accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" -->
              <button (click)="chooseFileButton()" class="chooseFileButton" mat-raised-button>
                <span class="chooseFileText">Choose Files</span>
              </button>

              <input type="file" multiple (change)="selectFiles($event)" #fileName id="inputFile" class="fileInput"
                accept="application/pdf,application/msword,application/vnd.
                openxmlformats-officedocument.wordprocessingml.document" />
            </div>
            <div class="xmarkIconDiv">
              <button *ngIf="fileSelected" matTooltip="Remove All Files" matTooltipPosition="right"
                TooltipTouchGestures="on" (click)="cancelTotalFiles()" class="xmarkCancel" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                data-bs-title="This top tooltip is themed via CSS variables.">
                <i class="fa-sharp fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedFiles" class="div6">
        <label *ngFor="let f of selectedFiles; let i = index">{{ f["name"] }}
          <button matTooltip="Remove This File" matTooltipPosition="right" TooltipTouchGestures="on"
            (click)="cancelSelectedFile(i)" class="cancelSelectedFile">
            <i class="fa-solid fa-xmark" id="xmark1"></i>
          </button>
        </label>
      </div>
      <button class="uploadFileButton" *ngIf="fileSelected" mat-raised-button [disabled]="!selectedFiles"
        (click)="uploadFiles()">
        <span>Upload</span>
      </button>
      <span class="tooltip">upload</span>
    </form>
    <div class="alert alert-light" role="alert">{{ message }}</div>
  </mat-card>
</div>

<app-main-footer></app-main-footer>
<!-- <button (click)="exportToCsv()">Export to CSV</button> -->
<!-- <app-main-footer></app-main-footer> -->

<!-- <div class="card">
  <div class="card-header">List of Files</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of fileInfos | async"
  >
    <li class="list-group-item">
      <a href="{{ file.url }}">{{ file.name }}</a>
    </li>
  </ul>
</div> -->
