mat-toolbar {
  background-color: #eff1f3;
  color: white;
}
.nav-item {
  margin-left: 10px;
}
#navbar1 {
  font-family: Arial, "papyrys" sans-serif;
  --bs-navbar-padding-x: 1;
  /* box-shadow: 0px 0px 4px 0px rgb(9, 10, 10); */
  /* border-radius: 10px 10px 10px black; */

  /* padding-right: calc(var(--bs-gutter-x) * 1); */
}

#navbar1 .row {
  padding-right: calc(var(--bs-gutter-x) * .2);
  /* margin: 3px; */
  width:auto;
  padding: 5px;
  /* background-color: transparent; */

  /* border-right: none ; */
  /* border-bottom: 1px solid rgb(199, 76, 76); */
}
.form-outline{
  width: 220px;
  /* box-shadow: 0px 0px 10px 0px rgb(236, 226, 226); */
}
.example-spacer {
  flex: 1 1 auto;
}
@media only screen and (max-width: 500px) {
  #ebtn {
    margin-top: 4px;
  }
  #sbtn {
    margin-top: 4px;
  }
}
.btn {
  background-color: rgb(99, 165, 224);
  color: rgb(251, 251, 251);
  font-size: 11px;
  /* height: 35px; */
  line-height: 26px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#table {
  font-size: 12px;
  font-family: "Segoe UI", "papyrys" Verdana, sans-serif;
  overflow-x: scroll;
  padding: 0.2rem 0.2rem;
  /* border: solid 1px rgb(230, 228, 228); */
}
button:hover {
  box-shadow: 0px 0px 3px 0px rgb(5, 5, 5);
  /* text-shadow: 0px 0px 30px 0px rgb(161, 58, 58); */
}
tr {
  height: 10px;
}
.table > :not(caption) > * > * {
  padding: 7px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
#tableDiv {
  overflow-x: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
